{% extends "_base.html" %}

{% load bootstrap staticfiles %}


{% block title %}Калькулятор настенной плитки{% endblock %}


{% block extrajs %}

{% endblock %}


{% block content %}
<h1>Расчет настенной плитки</h1>

<div class="well">
    <form ation="" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:'col-lg-4' }}

        <button type="submit" class="btn btn-success">Расчитать</button>
    </form>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Результат</div>
    <div class="panel-body">
        {% if result %}
        <p>
            <span>Вам понадобится (c запасом): </span><b>{{ result }}</b><span> плиток</span>
        </p>
        <p>
            <span>Запас: </span><b>{{ reserve }}</b><span> плиток</span>
        </p>
        {% endif %}

        {% if cost %}
        <p>
            <span>Вы потратите: </span><b>{{ cost }}</b><span> руб.</span>
        </p>
        {% endif %}

        {% if draw %}
        <p>
            <span>Примерная схема укладки (в развертке): </span>
            <br>
            <img style="margin: 5px 10px;" src="{{ draw }}">
        </p>
        {% endif %}
    </div>
</div>

{% comment %}
{% if result %}
<div>
    <p>
        <span>Результат: </span>{{ result }}<span> плиток</span>
    </p>
</div>
{% endif %}

{% if cost %}
<div>
    <p>
        <span>Цена: </span>{{ cost }}<span> руб.</span>
    </p>
</div>
{% endif %}
{% endcomment %}

{% endblock %}