{% extends "_base.html" %}

{% load bootstrap staticfiles %}


{% block title %}Калькулятор настенной плитки{% endblock %}


{% block extrajs %}

{% endblock %}


{% block content %}
<h1>Расчет настенной плитки</h1>

<div class="well">
    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:'col-lg-4' }}

        <button type="submit" class="btn btn-success">Расчитать</button>
    </form>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" href="#instruction">
                Инструкция
            </h4>
        </div>

        <div id="instruction" class="panel-collapse collapse">
            <div class="panel-body">
                <ol>
                    <li>Укажите <b>длину</b>, <b>ширину</b> и <b>высоту помещения</b> в метрах (m)</li>
                    <li>Укажите <b>длину и высоту плитки</b> в миллиметрах (mm)</li>
                    <li>Укажите <b>расстояние между плитками</b> в миллиметрах (mm). (Для выставления расстояния между плитками используются специальные "крестики", можно указать их толщину)</li>
                    <li>Нажмите кнопку <b>Расчитать</b></li>
                </ol>

                <span><i>Дополнительно (необязательно)</i></span>
                <ul>
                    <li>Укажите <b>стоимость одной плитки</b>, если хотите узнать общую стоимость</li>
                    <li>Укажите <b>запас</b> плитки. Рекомендуемый запас составляет не менее 5% (на подрезку, случайные сколы при подрезке)</li>
                    <li>Укажите <b>ширину и высоту</b> двери в метрах (m), чтобы исключить площадь двери из расчета</li>
                </ul>
            </div>
            <!--<div class="panel-footer">Footer</div>-->
        </div>
    </div>
</div>

{% include "_results.html" %}

{% endblock %}