{% extends "_base.html" %}

{% load bootstrap staticfiles %}


{% block title %}Калькулятор напольной плитки{% endblock %}


{% block meta_description %}
Для расчета необходимого количества и стоимости
напольной плитки, а так же получения примерной схемы укладки
просто введите размеры пола и плитки, затем нажмите кнопку Расчитать
{% endblock %}


{% block extrajs %}

/*
var LAYING_METHOD_DIRECT = 1;
var LAYING_METHOD_DIRECT_CENTER = 2;
var LAYING_METHOD_DIAGONAL = 3;


$('#id_method').on('change', function(e) {
    switch(parseInt(this.value, 10)) {
    case LAYING_METHOD_DIRECT:
        $('#img-method-example').attr("src", "{% static "images/1.jpg" %}");
        break;
    case LAYING_METHOD_DIRECT_CENTER:
        $('#img-method-example').attr("src", "{% static "images/2.jpg" %}");
        break;
    case LAYING_METHOD_DIAGONAL:
        $('#img-method-example').attr("src", "{% static "images/3.jpg" %}");
        break;
    };
});
*/

{% endblock %}


{% block content %}
<h1>Расчет напольной плитки</h1>

<div class="well">
    {% comment %}
    <img src="{% static "images/1.jpg" %}" id="img-method-example" width="200" height="200" />
    {% endcomment %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:'col-lg-4' }}

        <button type="submit" class="btn btn-success">Расчитать</button>
    </form>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" href="#instruction">
                Инструкция
            </h4>
        </div>

        <div id="instruction" class="panel-collapse collapse">
            <div class="panel-body">
                <ol>
                    <li>Укажите <b>длину</b> и <b>ширину помещения</b> в метрах (m)</li>
                    <li>Укажите <b>длину и ширину плитки</b> в миллиметрах (mm)</li>
                    <li>Укажите <b>расстояние между плитками</b> в миллиметрах (mm). (Для выставления расстояния между плитками используются специальные "крестики", можно указать их толщину)</li>
                    <li>Выберите <b>способ укладки</b>
                        <ul>
                            <li>Прямой (от угла)</li>
                            <li>Прямой (от центра)</li>
                            <li>Диагональный</li>
                        </ul>
                    </li>
                    <li>Нажмите кнопку <b>Расчитать</b></li>
                </ol>

                <span><i>Дополнительно (необязательно)</i></span>
                <ul>
                    <li>Укажите <b>стоимость одной плитки</b>, если хотите узнать общую стоимость</li>
                    <li>Укажите <b>запас</b> плитки. Рекомендуемый запас составляет не менее 5% (на подрезку, случайные сколы при подрезке)</li>
                </ul>
            </div>
            <!--<div class="panel-footer">Footer</div>-->
        </div>
    </div>
</div>

{% include "_results.html" %}

{% endblock %}