{% extends "_base.html" %}

{% load bootstrap staticfiles %}


{% block title %}Калькулятор настенной плитки{% endblock %}


{% block extrajs %}

{% endblock %}


{% block content %}
<h1>Расчет настенной плитки</h1>

<div class="well">
    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:'col-lg-4' }}

        <button type="submit" class="btn btn-success">Расчитать</button>
    </form>
</div>

{% include "_results.html" %}

{% comment %}
{% if result %}
<div>
    <p>
        <span>Результат: </span>{{ result }}<span> плиток</span>
    </p>
</div>
{% endif %}

{% if cost %}
<div>
    <p>
        <span>Цена: </span>{{ cost }}<span> руб.</span>
    </p>
</div>
{% endif %}
{% endcomment %}

{% endblock %}