{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="b16e044c6344bc46" />
    <meta name="robots" content="all"/> <!-- разрешено индексировать текст и ссылки на странице -->
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}калькулятор плитки,онлайн-калькулятор плитки, калькулятор напольной плитки, калькулятор настенной плитки, рассчитать плитку онлайн, рассчитать плитку для ванной, расчиать плитку для туалета, расчитать плитку для пола, рассчитать плитку, tile cutter, схема уладки плитки онлайн{% endblock %}"/>
    <title>ПЛИТКОРЕЗ | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tcutter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extra.css' %}">

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Плиткорез</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="/about">О проекте</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p class="text-muted text-left-lg text-left-md text-center-sm text-center-xs">
                        © Copyright {{copyright_year}} Плиткорез. Онлайн-калькулятор плитки.
                    </p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <p class="text-muted text-right-lg text-right-md text-center-sm text-center-xs">
                        Email: <a href="mailto:info@tcutter.ru">info@tcutter.ru</a>
                    </p>
                </div>
            </div>



        </div>
    </footer>

    <script type="text/javascript">
        $(function(){
          {% block extrajs %} {% endblock %}
        });
    </script>
</body>
</html>