{% extends "_base.html" %}


{% block title %}О проекте{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div style="margin: 10px 25px;">
            <p style="font-size: 18px;">
                В нашем "Плиткорезе" вы можете бесплатно расчитать
                необходимое количество плитки и ее стоимость, просто
                введя размеры вашего пола или помещения, а также получить
                изображение с примерной схемой укладки<a href="#attention"><b>*</b></a>.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div style="margin: 10px 25px;">
            <h3 id="attention" style="">Предупреждение!</h3>
            <p style="font-size: 18px; color: #a41515">
                Все расчеты предоставляемые сервисом несут рекомендательный характер и не являются абсолютно точными.
                <br>
                Автор сайта не несет ответственности за возможные материальные убытки, понесенные пользователем
                при использовании рекомендаций нашего сайта.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div style="margin: 45px 45px;">
            <p style="font-size: 18px;">
                Легкой вам укладки!
                <br>
                <i>Плиткорез</i> :)
            </p>
        </div>
    </div>
</div>


{% endblock %}