{% extends "_base.html" %}

{% block meta_description %}
Для расчета необходимого количества и стоимости
напольной или настенной плитки воспользуйтесь
нашим бесплатным онлайн-калькулятором плитки
{% endblock %}

{% block title %}Онлайн-калькулятор плитки{% endblock %}


{% block content %}
<h1>Плиткорез. Онлайн-калькулятор плитки</h1>

<div class="row">
    <div class="col-lg-6">
        <a href="/calc/floor/" role="button" class="btn btn-lg btn-primary btn-block">Для пола</a>
    </div>

    <div class="col-lg-6">
        <a href="/calc/walls/" role="button" class="btn btn-lg btn-primary btn-block">Для стен</a>
    </div>
</div>

<div class="row" style="margin-top: 15px;">
    <div class="col-lg-12">
        <a href="/calc/one-tile-cost/" role="button" class="btn btn-lg btn-primary btn-block">Узнать стоимость одной плитки</a>
    </div>
</div>
{% endblock %}